{% extends 'core/base.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block contenido %}


<section class="ftco-section ftco-cart">
    <div class="container " style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-list">
                    <table class="table" style="width: 100%; ">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th></th>
                                <th>&nbsp;</th>
                                <th>Nombre Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>&nbsp;</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in lc %}
                            {% for aux in lp %}
                            {% if aux %}
                            <tr class="text-center">

                                <td class="">
                                    <div class=""><img src="{{aux.imagen.url}}" alt=""
                                            style="width: 100px; border-radius: 9% ;"></div>
                                </td>

                                <td class=""><a href="#"><span class="ion-ios-close"></span></a></td>
                                <td class="">
                                    <h3>{{aux.nombre}}</h3>
                                    <p>{{aux.descripcion}}</p>
                                </td>

                                <td class="price">
                                    {% if es_suscriptor %}
                                    {{ aux.precio|floatformat:2 }}
                                    <p style="color: green;">Descuento aplicado: 10%</p>
                                    {% else %}
                                    {{ aux.precio }}
                                    {% endif %}
                                </td>
                                <form action="" method="POST">
                                        {% csrf_token %}
                                        {% if aux.stock > 0 %}
                                    <td class="quantity">
                                        <div class="input-group mb-3">
                                        <input type="number" name="cantidad" class="quantity form-control input-number"
                                            value="1" min="1" max="{{aux.stock}}" data-producto-id="{{aux.id}}"> 
                                            <p style="color: green;"> Disponible: {{aux.stock}}</p>
                                        </div>
                                    </td>
                                    {% endif %}
                                    <td class="total total-{{aux.id}}"></td>
                                    { a = total}
                                    <td></td>
                                    <td>
                                            <input type="hidden"  name="a"  class="total" value="{{a}}">
                                            <input type="hidden" name="id_carro" value="{{ x.id }}">
                                            <input type="submit" class="btn btn-danger" value="Eliminar">
                                </form>
                                </td>

                            </tr>

                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 " style="text-align: center; ">
                <p><a href="{% url 'pagar' %}" class="btn btn-success py-3 px-4 ">Pagar</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'core/js/carrito.js' %}"></script>

<script>
    $(document).ready(function() {
        $('.quantity').on('change', function() {
            var cantidad = parseInt($(this).val());
            var precio = parseFloat($(this).closest('tr').find('.price').text());
            var productoId = $(this).data('producto-id');
            calcularTotal(cantidad, precio, productoId);
        });

        calcularTotal(); // Calcular el total inicial al cargar la página
    });
</script>


{% endblock %}