{% extends 'core/base.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block contenido %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Contact Us</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Contactanos</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_phone"></span>
                        <h4>Telefono:</h4>
                        <p>+56 9 9876 4321</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_pin_alt"></span>
                        <h4>Direccion:</h4>
                        <p>Avenida Concha Y Toro, Av. San Carlos 1340, Puente Alto, Región Metropolitana</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_mail_alt"></span>
                        <h4>Email</h4>
                        <p>Petshop@duocuc.cl</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Map Begin -->
    <div class="col12">

        <div class="map">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.2785663599498!2d-70.58022328255616!3d-33.59807599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d7030f37341d%3A0xe924682a17f4963f!2sAv.%20Concha%20y%20Toro%20%26%20Av.%20San%20Carlos%2C%208150215%20Puente%20Alto%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1686981987613!5m2!1ses!2scl" 
        width="800" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


        <!-- <iframe
            src="https://www.google.com/maps/embed?pb=ElVBdi4gQ29uY2hhIHkgVG9ybyAmIEF2LiBTYW4gQ2FybG9zLCA4MTUwMjE1IFB1ZW50ZSBBbHRvLCBSZWdpw7NuIE1ldHJvcG9saXRhbmEsIENoaWxlImYiZAoUChIJHTQ3DwPXYpYRP5b0FypoJOkSFAoSCR00Nw8D12KWET-W9BcqaCTpGhQKEgndf6qaA9dilhFFv0vogqH6JRoUChIJC6VAh_3WYpYR96ZKquBoZWAiCg0oV_nrFYal7tU"
            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
           
        </iframe> -->
    </div>
    </div>
    
    <!-- Map End -->


{% endblock %}

{% block js %}

{% endblock %}